view {
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 161, 107);
    .getinfo {
        .image {

            margin-top: 30%;
            width: 70%;
            margin-left: 15%;
        }
    }
}